nav {
    display: flex;
    gap: 20px;
    font-size: 20px;
    color: rgb(224, 161, 238) ;
    font-family: 'Impact', Verdana, fantasy;
    background-color: rgb(228, 196, 252);
}

.pasta{
    position: absolute;
    right: 2%;
    width: 32%;
}