nav {
    display: flex;
    gap: 20px;
    font-size: 20px;
    color: rgb(224, 161, 238) ;
    font-family: 'Impact', Verdana, fantasy;
    background-color: rgb(228, 196, 252);
}

.div{
    display: flex;
    width: 200px;
    font-size: 10px;
    font-family: 'Goudy Bookletter 1911', sans-serif;
}