nav {
    display: flex;
    gap: 20px;
    font-size: 20px;
    color: rgb(224, 161, 238) ;
    font-family: 'Impact', Verdana, fantasy;
    background-color: rgb(228, 196, 252);
}

.apelsinkaka {
    display: flex;
    width: 20%;
    height: 15%;
}

.image-container {
    display: flex;
    width: 50px;
}